{
    auto_https off
}

:{$PORT:8080} {
    handle /api/* {
        reverse_proxy http://${BACKEND_DOMAIN}:${BACKEND_PORT}
    }

    handle /compare/* {
        reverse_proxy http://${COMPARE_DOMAIN}:${COMPARE_PORT}
    }

    handle {
        reverse_proxy http://${FRONTEND_DOMAIN}:${FRONTEND_PORT}
    }
}
